.display {
  width: 100%;
  display: flex;
}

.col-1 {
  flex: 1;
}

.col-1-half {
  flex: 1.5;
}


.count-box {
  width: 90%;
  height: 90vh;
  margin: 0px auto;
}

.score {
  font-size: 9vw;
  background-color: aquamarine;
  border: 2px solid darkturquoise;
  border-radius: 10px;
  text-align: center;
}

.throws {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
}
.throw {
  width: 60%;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 1px solid #666;
}

.btn-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 40%;
  aspect-ratio: 1.6 / 1;
  text-align: center;
  cursor: pointer;
}


.round-number {
  color: #666;
}

.history {
  white-space: pre-line;
  max-height: 90vh;
  overflow-y: auto;
  padding: 4px;
  margin: 8px;
  border: 2px solid darkturquoise;
  border-radius: 8px;
}
.history div {
  margin-bottom: 4px;
}


.board {
  position: relative;
  width: 100%; 
  aspect-ratio: 1 / 1;
  margin: 0px auto;
  border: 3px solid black;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.number {
  position: absolute;
  color: lightgray;
  height: 100%;
  font-size: 2vw;;
  cursor: pointer;
}

.circle-1 { 
  position: absolute;
  width: 85%; 
  aspect-ratio: 1 / 1;
  border-radius: 50%; 
  margin: 20px auto; 
  border: 3px solid #000;
  overflow: hidden;
}

.circle-2 {
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.circle-3 {
  position: absolute;
  width: 67.5%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.circle-4 {
  position: absolute;
  width: 87.5%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


.segment {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 42% 0, 58% 0);
  cursor: pointer;
}
.segment.black {
  background-color: black;
}
.segment.black:hover {
  background-color: #444444;
}

.segment.white {
  background-color: white;
}
.segment.white:hover {
  background-color: #EDEDED;
}

.segment.red {
  background-color: red;
}
.segment.red:hover {
  background-color: #FF6666;
}

.segment.blue {
  background-color: blue;
}
.segment.blue:hover {
  background-color: #6666FF;
}


.bull {
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.bull.s-bull {
  width: 20%;
  background: red;
}
.bull.s-bull:hover {
  background: #FF6666;
}

.bull.d-bull {
  width: 7.5%;
  background: black;
}
.bull.d-bull:hover {
  background: #444444;
}

.yellow {
  background-color: yellow !important;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  display: block;
  text-align: center;
}

.hidden {
  display: none;
}